<div class="flex">
  <div>
    <app-sidebar></app-sidebar>
  </div>

  <div class="500 w-full md:sm:ml-64">
    <div class="mt-10">
      <p class="pb-3 pl-3.5 text-lg font-semibold">Dashboard</p>
    </div>
    <div class="">
      <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
        <ul
          class="-mb-px flex flex-wrap text-center text-sm font-medium"
          id="default-tab"
          data-tabs-toggle="#default-tab-content"
          role="tablist"
        >
          <li class="me-2" role="presentation">
            <button
              class="inline-block rounded-t-lg border-b-2 p-4"
              id="dashboard-tab"
              data-tabs-target="#dashboard"
              type="button"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
            >
              <p>Dashboard</p>
            </button>
          </li>
          <li class="me-2" role="presentation">
            <button
              class="inline-block rounded-t-lg border-b-2 p-4 hover:border-gray-300 hover:text-gray-600 dark:hover:text-gray-300"
              id="settings-tab"
              data-tabs-target="#settings"
              type="button"
              role="tab"
              aria-controls="settings"
              aria-selected="false"
            >
              Timesheet
            </button>
          </li>
          <li role="presentation">
            <button
              class="inline-block rounded-t-lg border-b-2 p-4 hover:border-gray-300 hover:text-gray-600 dark:hover:text-gray-300"
              id="changepin-tab"
              data-tabs-target="#changepin"
              type="button"
              role="tab"
              aria-controls="changepin"
              aria-selected="false"
            >
              Change pin
            </button>
          </li>
        </ul>
      </div>

      <!-- Tab Content -->
      <div id="default-tab-content">
        <div
          class="hidden rounded-lg p-4 dark:bg-gray-800"
          id="dashboard"
          role="tabpanel"
          aria-labelledby="dashboard-tab"
        >
          <!-- <app-dashboard></app-dashboard> -->
          <app-changepin></app-changepin>
        </div>
        <div
          class="hidden rounded-lg p-4 dark:bg-gray-800"
          id="settings"
          role="tabpanel"
          aria-labelledby="settings-tab"
        >
          <p class="text-sm text-gray-500 dark:text-gray-400">
            <app-timesheet></app-timesheet>
          </p>
        </div>
        <div
          class="hidden rounded-lg p-4 dark:bg-gray-800"
          id="changepin"
          role="tabpanel"
          aria-labelledby="changepin-tab"
        >
          <p class="text-sm text-gray-500 dark:text-gray-400">Settings</p>
        </div>
      </div>
    </div>
  </div>
</div>
