<div class="container">
  <div>
    <p class="font-semibold">Change pin</p>

    <div
      class="ml-5 mt-5 flex w-96 flex-col gap-5 rounded-lg border border-black p-5"
    >
      <div>
        <label
          for="new_pin"
          class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
          >New pin:</label
        >
        <input
          type="password"
          id="new_pin"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
          placeholder="New Pin"
          required
        />
      </div>

      <div>
        <label
          for="confirm_pin"
          class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
          >Confirm pin:</label
        >
        <input
          type="password"
          id="confirm_pin"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
          placeholder="Confirm pin"
          required
        />
      </div>

      <button
        class="rounded-lg bg-black p-2 text-base text-white opacity-80 transition hover:opacity-100"
      >
        Confirm
      </button>
    </div>
  </div>
</div>
